


$color-bg: white;
$color-text: black;
$color-accent: #58906c;
$color-accent2: #2ae042;
$color-accent3: lightgrey;
$color-selected: blue;

$color-bg-wrapper: grey;





$img-bg-button: url("../assets/img/btn-frame.png");
$img-bg-wrapper: url("./assets/img/forest.jpg");
$img-bg-transparent: url("./assets/img/transparent.png");


$window-border: 2px black solid;
$input-border: 1px $color-accent solid;
$layer-border: 1px lightgrey solid;

$box-shadow_content-menu: 0 0 10px rgba(0,0,0, .3);
$box-shadow_range-input: 0 0 5px rgba(0,0,0,.15);