@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Didact+Gothic&family=Russo+One&family=Caveat&display=swap');

$font-tools: 12px Russo One;
$font-tool-title: 13px Russo One;
$font-shape-axes: bold 12px Anonymous Pro;
$font-menu: 14px Didact Gothic;
$font-menu-form: 14px Russo One;
$font-contextmenu: 16px Didact Gothic;
$font-window: 14px Russo One;
$font-btn: 18px Russo One;
$font-btn-small: 12px Russo One;
$font-input: 14px Anonymous Pro;
$font-input-small: 12px Anonymous Pro;
$font-hint: 12px Didact Gothic;
$font-layer: 10px Anonymous Pro;
$font-layer-button: 30px Russo One;
$font-select: 14px Russo One;
$font-select-small: 12px Russo One;
$font-title: bold 18px Caveat;
$font-status-bar: bold 16px Anonymous Pro;