@import "./sizes.scss";
@import "./images.scss";


.icon-btn {
    cursor: pointer;
    border: none;
    width: $icon-btn-size;
    flex: 0 0 $icon-btn-size;
    height: $icon-btn-size;    
    background: {
        color: transparent;            
        position: center;
        repeat: no-repeat;
        size: 60% 60%;
    }
    &.toggle-btn {
        opacity: .8;
        &.active {
            opacity: 1;
            border: 1px black solid;
            border-radius: 5px;
        }
    }
    &.small {
        width: $icon-btn-size-small;
        flex: 0 0 $icon-btn-size-small;
        height: $icon-btn-size-small;
        background-size: 80% 80%;    
        &.delete {
            background-size: 70% 70%;
        }
        &.cancel {
            background-size: 60% 60%;
        }
    }
    &.micro {
        width: $icon-btn-size-micro;
        flex: 0 0 $icon-btn-size-micro;
        height: $icon-btn-size-micro;
        background-size: 100% 100%;
    }
    &[disabled] {
        opacity: .5;
    }

    @include icon-classes($btn-icons_folder, $btn-icons);
}