@mixin font-face($font-family ) {
    @font-face {
        font-family: $font-family;
        src: url('./assets/styles/fonts/#{$font-family}/#{$font-family}-Regular.ttf') format('truetype');
    }
}




$color-bg: white;
$color-text: black;
$color-accent: #58906c;
$color-accent2: #2ae042;
$color-accent3: lightgrey;

$color-selected: blue;

$font-tools: 12px RussoOne;
$font-tool-title: 13px RussoOne;
$font-menu: 14px DidactGothic;
$font-menu-form: 14px RussoOne;
$font-window: 14px RussoOne;
$font-btn: 18px RussoOne;
$font-btn-small: 12px RussoOne;
$font-input: 14px AnonymousPro;
$font-input-small: 12px AnonymousPro;
$font-hint: 12px DidactGothic;
$font-layer: 14px AnonymousPro;
$font-layer-button: 30px RussoOne;
$font-select: 14px RussoOne;
$font-select-small: 12px RussoOne;


$btn-bg: url("../assets/img/btn-frame.png");

$window-border: 2px black solid;
$input-border: 1px $color-accent solid;
$layer-border: 1px lightgrey solid;

$tool-panel-width: 80px;
$tool-size: 40px;
$tool-selected-size: 60px;
$shape-size: 15px;
$ckbx-size: 18px;
$btn-top-size: 60px;
$texture-size: 64px;
$gradient-list-size: 100px;
$gradient-radial-size: 60px;
$color-selected-size: 40px;
$logo_size: 240px;

$icon-btn-size: 30px;
$icon-btn-size-small: 20px;


$z-index_underlay:      99;
$z-index_canvas:        100;
$z-index_side-list:     1000000;
$z-index_menu:          1000000;
$z-index_canvas-cursor: 10000000;