@import "./sizes.scss";

$icon_folder: "./assets/img/icons/";
$icons: (
    add: "plus.svg",
    apply: "check.svg",
    copy: "copy.svg",
    cancel: "cancel.svg",
    color-wheel: "color-wheel.svg",
    compose: "compose.svg",
    delete: "trash.svg",
    downward: "downward.svg",
    edit: "edit.svg",
    export: "export.svg",
    import: "import.svg",
    link: "link.svg",
    lock: "lock.svg",
    mask-layer: "mask-layer.svg",
    merge: "merge.svg",
    opacity: "opacity.svg",
    redo: "redo.png",
    reset: "none.gif",
    swap: "swap.svg",
    to-full-view: "to-full-view.svg",
    to-normal-view: "to-normal-view.svg",
    visible:"visible.svg",    
    undo: "undo.png",    
    zoom-in: "zoom-in.png",
    zoom-out: "zoom-out.png",
);

.icon-btn {
    cursor: pointer;
    border: none;
    width: $icon-btn-size;
    flex: 0 0 $icon-btn-size;
    height: $icon-btn-size;    
    background: {
        color: transparent;            
        position: center;
        repeat: no-repeat;
        size: 60% 60%;
    }
    &.toggle-btn {
        opacity: .8;
        &.active {
            opacity: 1;
            border: 1px black solid;
            border-radius: 5px;
        }
    }
    &.small {
        width: $icon-btn-size-small;
        flex: 0 0 $icon-btn-size-small;
        height: $icon-btn-size-small;
        background-size: 80% 80%;    
        &.delete {
            background-size: 70% 70%;
        }
        &.cancel {
            background-size: 60% 60%;
        }
    }
    &.micro {
        width: $icon-btn-size-micro;
        flex: 0 0 $icon-btn-size-micro;
        height: $icon-btn-size-micro;
        background-size: 100% 100%;
    }
    &[disabled] {
        opacity: .5;
    }

    @each $icon, $img in $icons {
        &.#{$icon} { background-image: url($icon_folder + $img); }
    }
}